.read-the-docs {
  color: #888;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: black;
  text-align: center;
  color: white;
  left: 0;
  right: 0;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  z-index: 1000;
  background-color: #1a1a1a;
  text-align: left;
  justify-content: flex-end;
  display: flex;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
}

.nav-content {
  justify-content: flex-start;
  display: flex;
  align-items: right;
  color: #FFF;
  font-weight: bold;
  padding: 1px;
}

.ul {
  display: flex;
  list-style: none;
  margin: 5px;
  padding: 0;
  justify-content: flex-end;
}

.li >{
  margin: 0;
  padding: 10px;
  margin-right: auto;
}

.background {
  flex: 1;
  opacity: 0.9;
  padding-top: 60px;
  padding-bottom: 40px;
  overflow-y: auto;
  background: url("./assets/modern_bg.jpg") no-repeat center center fixed;
  background-size: cover;
  /* Ensure the image covers the entire div */
}

.bg {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  height: 100%;
  /* z-index: -1; */
  object-fit: cover;
  opacity: 0.2;
}

.sections {
  height: auto;
  padding: 20px;
  border: 1px solid #ccc;
}

.link-style {
  color: #FFF;
  text-decoration: none;
}
.link-style2 {
  color: #000;
  text-decoration: none;
}
.custom-dropdown-toggle::after {
  display: none !important; /* 隱藏箭頭 */
}
.cardFooter {
  font-size: 10px !important;
  border-radius: 20px;
  text-transform: uppercase;
}
btn-dark{
  background-color: #000;

}
#mb.carousel img{
  width: 100%;
  height: auto;
  object-fit: cover;
}
.card-img{
  object-fit: cover;
  height: 200px;
}
.map-container {
  width: 100%;
  max-width: 800px; /* 可自行調整最大寬度 */
  margin: 0 auto; /* 讓地圖置中 */
}

body, html {
  overflow-x: hidden; /* 讓整個畫面不會超出 */
  width: 100vw;
}

.BodyContent_Mobile {
  max-width: 100vw; /* 防止內容超出 */
  overflow-x: hidden;
}

#bar>.carousel-indicators {
  display: flex;
  top: -1;
  transform: translateX(0%) translateY(0%);
  z-index: 1;
}
.fullscreen-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000; /* 確保地圖顯示在最上層 */
}

.fullscreen-iframe {
  width: 100%;
  height: 100%;
  border: 0;
}
#cp.carousel-bar {
  width: 800px;
  height: 450px;
  object-fit:cover;
}
.carousel-indicators {
  display: flex;
  position: relative;
  top: -1;
  right: 50%;
  left: 50%;
  transform: translateX(0%) translateY(150%);
  z-index: 1;
}

#members>.carousel-indicators button {
  border-radius: 45%;
  background-color: black !important;
  /* Inactive indicator color */
  transition: background-color 0.3s, transform 0.3s;
  /* Smooth transition */
}

#bar>.carousel-indicators button {
  border-radius: 50%;
  background-color: black !important;
  transition: background-color 0.3s, transform 0.3s;
}

.bodyContent,
.sections {
  position: relative;
  padding-top: 60px;
}

.mobile-only{
  display: none;
}

@media(max-width: 768px){
  .mobile-only{
    display: block;
  }
}